.CardBox{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 12px 26px 0px rgba(158, 158, 158, 0.1),0px 48px 48px 0px rgba(158, 158, 158, 0.09),0px 107px 64px 0px rgba(158, 158, 158, 0.05),0px 191px 76px 0px rgba(158, 158, 158, 0.01),0px 298px 83px 0px rgba(158, 158, 158, 0);
    background: rgb(255, 255, 255);
}
.Card h3{
    color: #000;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
}
.Card p{
    color: #000;
    font-size: 23px;
    line-height: 27px;
    text-align: left;
}
.Describe{
    display: flex;
}
.Text1{
    margin-top: 28px;
}
.Text2{
    margin-top: 6px;
}
.Card img{
    width: 442px;
    height: 215px;
    margin-left: 78px;
}
.Number {
    background: linear-gradient(171.56deg, rgb(255, 215, 97), rgb(255, 224, 132), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 162px;
    font-weight: 700;
    line-height: 190px;
    letter-spacing: 0%;
    text-align: center;
    font-style: oblique;
    position: absolute;
    top: -29%;
    z-index: 1;
    right: 12%;
  }
@media (max-width: 1200px) {
   .Card h3{
    font-size: 24px;
    line-height: 30px;
   }
   .Card p{
    font-size: 18px;
    line-height: 24px;
   }
   .Card img{
    width: 342px;
    height: 150px;
    margin-left: 20px;
   }
   .Number {
    font-size: 115px;
    line-height: 140px;
  }
}
  @media (max-width: 800px) {
   .Describe{
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    align-items: center;
   }
}