.CardBox{
width: 1140px;
height: 444px;
margin: 0 auto;
border-radius: 10px;
padding: 40px;
box-shadow: 0px 12px 26px 0px rgba(158, 158, 158, 0.1),0px 48px 48px 0px rgba(158, 158, 158, 0.09),0px 107px 64px 0px rgba(158, 158, 158, 0.05),0px 191px 76px 0px rgba(158, 158, 158, 0.01),0px 298px 83px 0px rgba(158, 158, 158, 0);
}
.Card h3{
    color: #000;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
}
.Card p{
    color: #000;
    font-size: 23px;
    line-height: 27px;
    text-align: left;
}
.Describe{
    display: flex;
}
.Text1{
    margin-top: 28px;
}
.Text2{
    margin-top: 6px;
}
.Card img{
    width: 442px;
    height: 215px;
    margin-left: 78px;
}