.FooterContainer{
  background-color: #f6f6f6;
  border-top: 1px solid #ffc824;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  bottom:0;
  left: 0;
  width: 100%;
}