.Container {
	display: flex;
	margin-top: 27px;
	.LeftSide {
		flex: 1;
		.Length {
			display: flex;
			flex-direction: column;
		}
		.Title {
			font-size: 18px;
			font-weight: 700;
			line-height: 21px;
		}
		.InputBox {
			margin: 11px 0 51px 0;
			width: max-content;
			padding: 21px 12px 21px 12px;
			border-radius: 10px;
			box-shadow:
				0px 1px 2px 0px rgba(163, 163, 163, 0.03),
				-2px 4px 4px 0px rgba(163, 163, 163, 0.03),
				-4px 9px 6px 0px rgba(163, 163, 163, 0.02),
				-7px 16px 7px 0px rgba(163, 163, 163, 0.01),
				-10px 25px 7px 0px rgba(163, 163, 163, 0);
			background: rgb(255, 255, 255);
			width: 109px;
			.Input {
				display: flex;
				align-items: center;
				margin-bottom: 8px;
			}

			.Input input[type='radio'] {
				appearance: none;
				border: 2px solid #ccc;
				border-radius: 50%;
				width: 16px;
				height: 16px;
				outline: none;
				transition: border-color 0.2s ease-in-out;
				cursor: pointer;
				position: relative;
			}

			.Input input[type='radio']::before {
				content: '';
				display: block;
				border-radius: 50%;
				width: 10px;
				height: 10px;
				background-color: transparent;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: background-color 0.2s ease-in-out;
			}

			.Input input[type='radio']:checked::before {
				background-color: #000;
			}

			.Input input[type='radio']:hover {
				border-color: #888;
			}

			.Input label {
				margin-left: 8px;
				cursor: pointer;
				user-select: none;
				font-size: 14px;
			}
		}
	}
}
