.footerContainer {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background-color: #f9f9f9;
}

.leftContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	.leftText {
		width: 600px;
		margin-bottom: 50px;
	}
	.orderCallButton {
		background-color: #f4c024;
		border-radius: 10px;
		width: 150px;
		height: 40px;
		color: black;
		border: none;
		cursor: pointer;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		margin-left: 200px;
	}
	margin-left: 4vw;
}

.rightContainer {
	display: flex;
	align-items: center;
	justify-content: right;
	text-align: right;
	font-weight: bold;
	width: 600px;
	.rightText {
		color: black;
		font-size: 24px;
		margin-top: 150px;
		.highlightText {
			color: #f4c024;
			display: block;
		}
	}
	margin-right: 7vw;
}
