.Services{
    margin: 0 auto;
    position: relative;
    max-width: 1140px;
}
.ServicesTitle{
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    color: #000;
}
.CardsContent{
    margin: 0 auto;
    position: relative;
    display: grid;
    gap: 240px;
}
.Card{
    position: relative;
    z-index: 1;
}
.Arrow{
    margin: 61px 0 43px 0;
}