.ListOfProducts {
	width: 963px;
	border: 1px solid #ffc824;
}
.LineOfTitles {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ButtonOrder {
	padding: 10px;
	border-radius: 5px;
	background-color: #ffc824;
}
