.imgcon {
	display: flex;
	justify-content: center;
	justify-items: center;
	margin-top: 45px;
	pointer-events: none;
}

.slg404 {
	display: flex;
	justify-content: center;
	justify-items: center;
	font-size: 22px;
	color: #f4c024;
	font-weight: bold;
}

.btncon {
	display: flex;
	justify-content: center;
	justify-items: center;
	margin-top: 20px;
}

.btn404 {
	font-size: 16px;
	background-color: #ffc824;
	border-radius: 10px;
	padding: 17px 40px 17px 40px;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
	box-shadow: 0px 7px 6px rgba(95, 78, 17, 0.1);
}

.btn404:hover {
	background-color: #fbfbfb;
	color: #f4c024;
}

.btn404:active {
	background-color: #818181;
	color: #2f2f2f;
}
