.container{
    width: 100%;
    height: 100%;
    display: flex;
}   

.ImgMetall{
    position :relative;
    filter: brightness(70%);
}

.Text {
    position: absolute;
    color: white;
    z-index: 1;
    width: 30%;
    top: 15%;
    left: 150px;
    font-size: 300%;
    padding-right: 20px; /* Добавляем отступ справа */
}

.H2Text {
    position: absolute;
    color: white;
    z-index: 1;
    width: 30%;
    top: 30%;
    left: 150px;
    opacity: 0px;
    font-size: 150%;
    display: flex;
    margin-top: 50px; /* Добавляем отступ сверху */
}


